h1
{
    text-align: center;
}
#img-div
{
    text-align: center;
    width: 100%;
}
span
{
    font-weight: bold;
}
#image
{
    width: 1080px;
    position: relative;
    border: 8px solid #555
}
@media (max-width: 460px)
{
    #image
    {
        width: 50%;
        position: relative;
        border: 8px solid #555
    }
    #img-caption 
    {
      font-size: 1.4rem;
    }
}
li
{
    font-size: 17px;
    margin-bottom: 15px;
    text-align: left;
}

#tribute-link
{
    font-size: large;
}
#img-caption
{
    font-size: 17px;
    font-weight: normal;
}
#tribute-info 
{
   
   padding-top: 20px;
   background-color: wheat;
   margin: 0 15% ;
}
.content{
    padding: 5% 20%;
}
footer
{
    padding: 0 20%;
    font-size: large;
}
