body
{
    background-color: gainsboro;
}
header
{
    font-size: 40px;
    background-color: #2E94CC;
    color: white;
    text-align: center;
}
h1
{
    text-align: center;
}
div
{
    text-align: center;
}
span
{
    font-weight: bold;
}
#image
{
    height:316px;
    width:220px;
    position: relative;
    border: 8px solid #555
}
li
{
    font-size: 17px;
    margin-bottom: 15px;
}
.line
{
    font-style: italic;
}
#tribute-link
{
    font-size: large;
}