a ,.b_color{
    color: rgb(22, 178, 191);
}
.b_color:hover{
    color: rgb(22, 178, 191);
}
.breadcrumb li {
    font-size: large;
}
.clr{
    background-color: rgba(255, 131, 107);
    color: white;
    border: 0;
}
.mn{
    padding: 0 2rem 0 2rem;
} 
td .btn:focus {
    outline: none;
    box-shadow: none;
    }
a.page-link{
    border: 0;
}
.mar,.mar:hover
{
    margin-left: 6px;
    background-color: rgb(22, 178, 191);
    color: white;
}
div.modal-footer li.page-item a.page-link
{
   margin-left: .10rem;
}
.bgcolor
{
   background-color: rgb(22, 178, 191); 
   color: white;
}
.page-item.active .page-link {
    background-color: rgb(22, 178, 191); 
}