a ,.b_color{
    color: rgb(22, 178, 191);
}
.b_color:hover{
    color: rgb(22, 178, 191);
}
.breadcrumb li {
    font-size: large;
}
.clr{
    background-color: rgba(255, 131, 107);
    color: white;
    border: 0;
}
.mn{
    padding: 0 2rem 0 2rem;
} 
td .btn:focus {
    outline: none;
    box-shadow: none;
    }
nav ul.pagination li.page-item a.page-link{
    border: 0;
    margin-left: .2rem;

}
.mar,.mar:hover
{
    margin-left: 6px;
    background-color: rgb(22, 178, 191);
    color: white;
}
div.modal-footer li.page-item a.page-link
{
   margin-left: .10rem;
}
.bgcolor
{
   background-color: rgb(22, 178, 191); 
   color: white;
}
.page-item.active .page-link {
    background-color: rgb(22, 178, 191); 
}
.serch-icon{
position: absolute;
margin-right: 62px;
margin-top: 6px;
color:rgb(22, 178, 191);}

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
}
 .search .bi-search{

     position: absolute;
     top: 8px;
     right: 30px;
     color:rgb(22, 178, 191);   
}
#hide{
    display: none;  
}
.mar-l
{
    margin-left:-120px ;
}
.page-link
{
    color: #6c757d;
}