.box{
    padding: 15px;
    background-color: teal;
}
.left_scroll_icon{
    color: #414C59;
    padding:.5rem;
}
/* .bi, .fa, .fa-solid{
    color: #9EA4AC
} */
body{
    background-color:#DDDDDD ;
}
.navbar {
    --bs-navbar-nav-link-padding-x: 1rem;
}

.view1
{
    color: #707070;
}
.view1, .view1:hover{
    cursor: pointer;
}

.btn-blue{
    border-radius: 4px; 
    --bs-btn-padding-x: 1rem;
    background-color: #D1F4F2;
    color: #00A0E3;
}
.btn-blue:hover{
    background-color: #00A0E3;
    color: white;
}
.card{
    border-radius: 0;
}
.w3-bar-item{
color: #9a9ea3;
margin-top: 10px;
}
.w3-bar-item:hover{
    background-color: #00A0E3!important;
    color: white!important;
}
.navbar-brand{
    --bs-navbar-brand-font-size: 1rem;
}
h7{
    font-size: 13px;
}
h8{
    font-size: 14px;
    
}
.active{
    color: #0095DA!important;
    cursor: pointer;
    text-decoration: underline 2px;
    text-underline-offset: 0.5rem;
}
h8:hover{
    cursor: pointer;
    color: #0095DA!important;
    text-decoration: underline 2px;
    text-underline-offset: 0.5rem;
}

.btn-outline-danger{
    border-radius: 0;
}
.font_text{
    font-size: small;
}
.font_subtext{
    font-size: 11px;
}
.font_subtext2{
    font-size: 10px;
}
.bg-custom{
    background-color: #D9EEF9;
}

th,td{
    font-size:smaller;
    padding: 15px !important;
}
.btn-outline-info { 
    --bs-btn-disabled-color: black;
    border-color:#1BC5BD!important ;
    --bs-btn-disabled-bg: transparent;
}
.btn_padding{
    --bs-btn-padding-y: .15rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}
.btn-outline-purple{
    --bs-btn-disabled-color: black;
    border-color:#8950fc44!important ;
    --bs-btn-disabled-bg: #8950fc44;
    --bs-gradient: none;
}
.btn-outline-skyblue{
    --bs-btn-disabled-color: black;
    --bs-btn-disabled-bg: #c5f8f5;
    border-color:#D1F4F2!important ;
}
.dot {
    height: 7px;
    width: 7px;
    background-color: #1BC5BD;
    border-radius: 50%;
    display: inline-block;
  }
  .btn-outline-pending{
    --bs-btn-disabled-color: black;
    --bs-btn-padding-x: .7rem;
    border-color:#FFA800!important ;
    --bs-btn-disabled-bg: transparent;  
  }
.chartbox{
    
    height:207px;
}