body
{
    font-family: 'Heebo', sans-serif ;
    margin: 0;
    min-height: 3000px;
    padding-top: 80px;
}
.uppercase
{
    text-transform: uppercase;
}
.container
{
    max-width: 980px;
    margin: auto;
    padding: 0px 16px;


}
ul
{
    margin: 0;
    padding: 0;
}
header
{
    background-color: #FFF;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15); 
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}  
header .logo .blue-dot
{   
    background-color: #3E50E5;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
}
header .container 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}   
header .logo
{
    display: inline-block;
    font-size: 27px;

}
header nav
{
    display: inline-block;
    float: right;

}
header nav ul li
{
    display: inline-block;
}
header nav ul li a{
    color: #3E3E3E;
    font-family: Heebo;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}
header nav ul li:last-of-type a
{
    margin-right: 0;
}
section.hero img
{
    width: 100%;
    height: auto;
}
section.hero
{
    position: relative;
}
.hero-content
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 0;
}
.hero-content .container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.hero-content h1
{
    max-width: 495px;
    color: #FFF;
    font-size: 50px;
    letter-spacing: 1.25px;
    line-height: 56px;
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: normal ;
}
.hero-content p
{
    max-width: 518px;
    color: #FFF;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 28px;
    
    margin-bottom: 21;
    margin-top: 0;
}
.hero-content button
{
    height: 50px;
    width: 220px;
    max-width: 100%;
    border-radius: 92px;
    background-color: #3E50E5;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-align: center;
    border: none;
}
section.best-sellers
{
    padding-top: 80px;

} 
section.best-sellers h2
{
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: normal;
    margin: 0 0 14px 0;
} 
section.best-sellers hr
{
    border: none;
    border-top: 5px solid;
    border-color: #67F11D;
    width: 66px;
} 
section.best-sellers .product-slider 
{
    padding-top: 76px;

}
section.best-sellers .container
{
    display: flex;
    justify-content: space-around;
    padding: 0px 8px; 
}
section.best-sellers .product-slider .product  
{
    border-radius: 8px;
    border: 1px solid #DDD;
    width: 33%;
    text-align: center;
    margin: 0 8px;
    padding: 40px;
}
section.best-sellers .product-slider .product  .product-info
{
    margin-top: 50px;
}
section.best-sellers .product-slider .product  .product-info .categories
{
    color: #3E50E5;
  font-family: Heebo;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 30px;
}