/* Top nav */

#hide1,#hide2,#hide3
{
    margin-top: -2px;
    display: none;
    border-top:2px solid rgb(29, 164, 254);
}
.bi-chevron-down
{
  font-size: bold;
}
nav .btn:focus {
    outline: none;
    box-shadow: none;
}
.cen{
    text-align: end;
    margin-top: 20px;
}
/* Hover Arrow */
.img-arrow
{
    position: absolute;
    top:0;
    left:0;
    width: fit-content;
    height: fit-content;
    padding-left: 50%;
    margin-top: 23%;
    text-align: center;
}
.arrow-icon
{
    transition: font-size 2s;
}
  .arrow-icon:hover
  {
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }  
/* End of it */
/* End of top nav */

/* Start of first Image */
section.hero img
{
    width: 100%;
   
}
.hero-content
{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
section .lbs 
{
    width: fit-content;
    height: 100%;
}
.hero-content button
{   
    transform: scale(100%); 
    
}
@media only screen and (max-width: 600px) {
   
    .hero-content button
    { 
        font-size: 10px;
        margin-top: 15px;
    }  
}
@media only screen and (max-width: 442px) {
   
   .hero-content button
   { 
       
        font-size: 7px;
        margin-top: 15px;
        
   }  
}
/* End of First image container */

.last-card
{
  transition: box-shadow 4s;
}
.last-card:hover
{
  box-shadow: 1px 1px 5px 2px;
  cursor: pointer;
}
.first-card
{
   
  box-shadow: 1px 1px 94px 13px rgba(0,0,0,0.4) inset;
  border-radius: 15px;
}
.first-card:hover{
  box-shadow: 0px 0px 0px 0px inset;
  border-radius: 15px;}
.last-image img
{
  width: 100%;
}
.card-img-top
{
  width: fit-content;
}
div .footer-images img
{
  width: 20%;
}
div .footer-images img.footer-image1
{
  width: 12%;
}
div .footer-images img.footer-image2
{width: 25%;}
.footer-links
{
  font-size: x-small;
}
.search{
  position: relative;
}
.search .bi-search{

   position: absolute;
   top: 4px;
   left:23px;
   color:rgb(194, 192, 192);
}
.nav-link{
  color: gray;
}
.nav-link:hover{
  color:rgb(29, 164, 254) ;
}
.active
{
  color:rgb(29, 164, 254) ;
}

.btn-primary{
  background-color: rgb(29, 164, 254);
  border: none;
  border-radius: 0% ;

}.btn-primary:hover{
  background-color: rgb(29, 164, 254) ;
  border-color: none;
}
.btn-outline-danger{
  border-radius: 0%;
}

/* Dropdown */
.lerndrop{
  margin-left: 130px;
  width: 670px;
}
.Credentialsdrop{
  width: 600px;
}
.For_componies{
  width: 600px;
}