body
{
    margin-top: 100px;;
}

nav .btn:focus {
    outline: none;
    box-shadow: none;
}
#hide1,#hide2,#hide3
{
    margin-top: -2px;
    display: none;
    border-top:3px solid crimson;
}
.cen{
    text-align: end;
}
.img-wrapper
{
    position: relative;
}
img{
    max-width: 100%;
    height: auto;
}
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  .img-overlay:before {
    content: ' ';
    display: flex;
    height: 50%;
  }
  .img-arrow {
    position: absolute;
    color:#2A5A27;
    top: 0;
    bottom: -75%;
    left: 0;
    right: 0;
    text-align: center;   
    transition:  width 2s, height 4s;  
  }
  .img-arrow:before {
    content: ' ';
    display: block;
    height: 50%;
  }
.arrow-icon
{
    transition: font-size 2s;
}
  .arrow-icon:hover
  {
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }  


